<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.RichText" 
                       description="Feature RichText" 
                       dependencies="Foundation.Serialization" 
                       extends="GrandfathersApiary.Feature.Base" />
      </configurations>
    </unicorn>
  </sitecore>
</configuration>