@using Sitecore.Data.Fields

<div class="container">
    <div class="row">
    @{
        var headerLogoKey = "HeaderLogo";

        var database = Sitecore.Context.Site.Database;
        var rootPath = Sitecore.Context.Site.RootPath;

        var item = database.GetItem(rootPath);

        if (item != null)
        {
            ImageField imageField = item.Fields[headerLogoKey];
            var title = imageField.Alt;

            <div class="col-md-3">
                <a class="logo" href="/" title="@title">
                    @Html.Sitecore().Field(headerLogoKey, item, null)
                </a>
            </div>
        }
    }
            <div class="col-md-9">
                @Html.Sitecore().Placeholder("header-navigation")
            </div>
    </div>
</div>