<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @Html.Sitecore().Placeholder("search-form")
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @Html.Sitecore().Placeholder("search-result")
            </div>
        </div>
    </div>
</section>
