<div class="container">
    <div class="row">
        <div class="col-md-2">
            @Html.Sitecore().Placeholder("three-column-grid-left")
        </div>
        <div class="col-md-5">
            @Html.Sitecore().Placeholder("three-column-grid-middle")
        </div>
        <div class="col-md-5">
            @Html.Sitecore().Placeholder("three-column-grid-right")
        </div>
    </div>
</div>