<div class="container">
    <div class="row">
        <div class="col-md-6">
            @Html.Sitecore().Placeholder("two-column-grid-left")
        </div>
        <div class="col-md-6">
            @Html.Sitecore().Placeholder("two-column-grid-right")
        </div>
    </div>
</div>