@*Yes, I know this code sucks.*@

<form class="form-inline">
    <input class="form-control mr-sm-2 js-header-search-input" type="search" placeholder="Search" aria-label="Search">
    <div class="col-md-12 overlay js-header-search-result d-none"></div>
    <span class="js-search-header-no-result d-none">No result were found</span>
</form>

<script src="~/Scripts/Search/search.js"></script>

<style>
    .overlay {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 2;
        cursor: pointer;
    }
</style>