<section>
    <form class="form-inline">
        <label class="sr-only" for="inlineFormInput">Search</label>
        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0 col-md-10 js-search-input" id="inlineFormInput" placeholder="Search">
        <button class="btn btn-white my-2 my-sm-0 js-search-button" type="submit">Search</button>
    </form>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12 js-search-result"></div>
            <span class="js-search-no-result d-none">No result were found</span>
        </div>
    </div>
</section>

<script src="~/Scripts/Search/search.js"></script>