<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="GrandfathersApiary.Feature.Base" abstract="true">
          <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="$(layer).$(module).Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
            <include name="$(layer).$(module).Renderings" database="master" path="/sitecore/layout/renderings/$(layer)/$(module)" />
            <!--<include name="$(layer).$(module).Media" database="master" path="/sitecore/media library/$(layer)/$(module)" />-->
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>